/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "../node_modules/toastr/build/toastr.css";

p {
  font-family: 'Verdana';
  font-size: '32pt';
}

.modal-backdrop { position: relative }

.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351 !important;
  z-index: 2000 !important;
  top: 100px;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}

#toast-container > div {
  opacity:1;
}

/*
h2 {
  color: green;
  font-family: 'Comic Sans MS'
} */
